@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
}

.login_header {
    display: flex;
    margin-bottom: .5em;
    flex-direction: row;
    justify-content: center;
}